# 3.2 Parts of Speech (POS) Tagging

In [1]:
import spacy
import pandas as pd

In [3]:
nlp = spacy.load('en_core_web_sm')

# if you are running this for the first time, or recieve an error "Can't find model 'en_core_web_sm'", 
# then please run the follwing in your terminal: 

#uv pip install spacy
#uv pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

In [5]:
# our text is from jane austin's 'emma'
# we have removed punctuation, lowercased but left in stop words
emma_ja = "emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own"
print(emma_ja)

emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own

In [6]:
# create a spacy doc from our text - this will generate tokens and their assosciated pos tags
spacy_doc = nlp(emma_ja)

In [7]:
# extract the tokens and pos tags into a dataframe
pos_df = pd.DataFrame(columns=['token', 'pos_tag'])

In [8]:
for token in spacy_doc:
    pos_df = pd.concat([pos_df,
                       pd.DataFrame.from_records([{'token': token.text, 'pos_tag': token.pos_}])], ignore_index=True)

In [9]:
pos_df.head(15)

          token pos_tag
0          emma   PROPN
1     woodhouse   PROPN
2      handsome     ADV
3        clever     ADJ
4           and   CCONJ
5          rich     ADJ
6          with     ADP
7             a     DET
8   comfortable     ADJ
9          home    NOUN
10          and   CCONJ
11        happy     ADJ
12  disposition    NOUN
13       seemed    VERB
14           to    PART

In [10]:
# token frequency count
pos_df_counts = pos_df.groupby(['token','pos_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)
pos_df_counts.head(10)

    token pos_tag  counts
86     of     ADP      14
48    had     AUX       9
53    her    PRON       9
6     and   CCONJ       8
109   the     DET       8
0       a     DET       6
112    to    PART       5
12   been     AUX       4
60     in     ADP       4
118  very     ADV       4

In [9]:
# counts of pos_tags
pos_df_poscounts = pos_df_counts.groupby(['pos_tag'])['token'].count().sort_values(ascending=False)
pos_df_poscounts.head(10)

pos_tag
NOUN     35
VERB     19
ADJ      18
ADV      18
PRON      9
ADP       8
PROPN     6
DET       5
AUX       4
CCONJ     3
Name: token, dtype: int64

In [15]:
# see most common nouns
nouns = pos_df_counts[pos_df_counts.pos_tag == "NOUN"]
nouns

           token pos_tag  counts
91        friend    NOUN       3
95     governess    NOUN       3
161       mother    NOUN       2
257        years    NOUN       2
203      sisters    NOUN       2
70          emma    NOUN       2
55     daughters    NOUN       2
35     blessings    NOUN       1
215       temper    NOUN       1
213      taylors    NOUN       1
43      caresses    NOUN       1
3      affection    NOUN       1
255        world    NOUN       1
249        woman    NOUN       1
21     authority    NOUN       1
155     mistress    NOUN       1
149     mildness    NOUN       1
147     marriage    NOUN       1
83        family    NOUN       1
85        father    NOUN       1
131     judgment    NOUN       1
127     intimacy    NOUN       1
117        house    NOUN       1
115         home    NOUN       1
79     existence    NOUN       1
197       shadow    NOUN       1
53   consequence    NOUN       1
191    restraint    NOUN       1
189  remembrance    NOUN       1
187        place    NOUN       1
185       period    NOUN       1
61   disposition    NOUN       1
175       office    NOUN       1

In [16]:
# see most common verbs
verbs = pos_df_counts[pos_df_counts.pos_tag == "ADJ"][0:10]
verbs

            token pos_tag  counts
157          more     ADJ       2
139        little     ADJ       2
201         short     ADJ       1
5    affectionate     ADJ       1
31           best     ADJ       1
49         clever     ADJ       1
51    comfortable     ADJ       1
152          miss     ADJ       1
87           fond     ADJ       1
101         happy     ADJ       1